.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 303px -23px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: auto;
  font-weight: 700;
  margin: -249px -23px 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-weight: 500;
  margin: 233px 0 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: auto;
  font-weight: 400;
  margin: -284px 0 0;
}

.u-section-1 .u-text-5 {
  width: 58px;
  margin: -128px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    font-size: 24px;
    width: auto;
    margin-top: 290px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -205px;
  }

  .u-section-1 .u-text-3 {
    font-size: 20px;
    width: auto;
    margin-top: 180px;
  }

  .u-section-1 .u-text-4 {
    width: 266px;
    font-weight: 600;
    margin-top: -255px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 126px;
    margin-right: 95px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    padding: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
    min-height: 74px;
    margin-top: 60px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}